.centered-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.about {
  min-height: 100vh;
  text-align: justify;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 5rem;
}

.skills {
  text-align: center;
  margin-top: 10rem;
}

.intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 5rem;
  justify-content: center;
}

.intro button{
  width : 10%;
  margin-left: 45%;
  margin-right: 45%;
}

.profile-pic {
  display: block;
  margin: 0 auto; /* Center horizontally */
  height: 15rem; /* Match the width to create a perfect circle */
  width: 15rem; /* Match the height to create a perfect circle */
  border-radius: 50%;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.logo {
  height: 3rem; /* Match the width to create a perfect circle */
  width: 3rem; /* Match the height to create a perfect circle */
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /*change curson when hover*/
  cursor: pointer;
}

.logo2 {
  display: flex;
  flex-direction: row;
  height: 3.5rem; /* Match the width to create a perfect circle */
  width: 3.5rem; /* Match the height to create a perfect circle */
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  padding: 10px; /* Adjust the padding as needed */
  z-index: 100; /* Ensure it's above other content */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Change this to your desired text color */
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
}

.projects {
  min-height: 100vh;
  text-align: left;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 5rem;
  justify-content: center;
}

.project-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-image img {
  margin-top: 1.5rem;
  max-width: 45rem;
  transition: transform 0.3s ease-in-out; /* Add ease-in-out timing function */
  transform: scale(1); /* Start with the default scale of 1 */
  border: 1px solid #9e9c9c;
}

.carousel-image .hciImg {
  margin-top: 1.5rem;
  height: 30rem;
  width: 10em;
  transition: transform 0.3s ease-in-out; /* Add ease-in-out timing function */
  transform: scale(1); /* Start with the default scale of 1 */
  border: 1px solid #9e9c9c;
}

.carousel-image img:hover {
  transform: scale(1.05); /* Scale the image slightly on hover */
}

.prev-button,
.next-button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.prev-button {
  margin-right: 20px; /* Adjust the margin as needed */
}

.next-button {
  margin-left: 20px; /* Adjust the margin as needed */
}

.pizza {
  margin-top: 1.5rem;
}

.contact {
  height: 100vh;
  text-align: left;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 5rem;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  min-width: 100%;
  min-height: 10%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.send {
  width: 100%;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 750px) {
  .div {
    min-height: auto;
  }

  .intro button{
    width :40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  a {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .logos {
    display: flex;
    flex-wrap: wrap; /* Allow logos to wrap to a new row */
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .carousel-image img {
    margin-top: 1.5rem;
    max-width: 15rem;
    transition: transform 0.3s ease-in-out; /* Add ease-in-out timing function */
    transform: scale(1); /* Start with the default scale of 1 */
    border: 1px solid #9e9c9c;
  }
}
